*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr 0.5fr;
    height: 100vh;
    gap: 2rem;
}

.HeaderContainer{
    align-items: center;
    background-color: #f2182b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
}

.NavBar{
    align-items: center;
    display: flex;
    justify-content: center;
}

.ContentNav{
    align-items: center;
    display: flex;
    gap: 3.5rem;
    list-style: none;
    justify-content: center;
}

li{
    cursor: pointer;
    font-size: 1.125rem;
}

li:hover{
    text-decoration: underline;
}

a{
    color: #030303;
    text-decoration: none;
}


main{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    align-items: center;
    background-color: #313131;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
}

.Same{
    cursor: pointer;
    width: 2.5rem;
}

.ContentForImgsProfile{
    align-items: center;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}

.CopyTitle, .ThankYou{
    font-weight: 800;
    font-size: .85rem;
}

